<div>
  <h2>
    Automóvil
  </h2>
  <table>
    <tr>
      <td>Placas:</td>
      <td>{{auto.placas}}</td>
    </tr>
    <tr>
      <td>Marca:</td>
      <td>{{auto.marca}}</td>
    </tr>
    <tr>
      <td>Modelo:</td>
      <td>{{auto.modelo}}</td>
    </tr>
    <tr>
      <td>Color:</td>
      <td>{{auto.color}}</td>
    </tr>
    <tr>
      <td>Cliente: </td>
      <td>
        {{auto.cliente?.nombre}} desde:
        {{auto.cliente?.fechaRegistro | date:'short'}}
      </td>
    </tr>
  </table>
  <button ><a href="http://localhost:4200/automoviles">volver</a></button>
</div>
